<%- include('./partials/header.ejs', {data: {title} }); %>


    <main>
        <section class="data-section my-8">
            <div class="container mx-auto px-3 md:px-0">
                <img src="image/logoterm.jpg" class="max-w-[220px] w-full mx-auto text-center rounded shadow" alt="">
                <h2 class="text-center text-3xl font-semibold mb-4">Service Desk Portal </h2>
                <form id="form" class="form-wrapper shadow rounded p-5 my-3 w-full max-w-md mx-auto">
                    <div class="mb-2">
                        <h2 class="text-center text-lg font-semibold">Please Register Now</h2>
                    </div>
                    <div class="mb-2">
                        <p class="text-center text-sm text-red-500" id="error-msg"></p>
                    </div>
                    <div class="mb-3">
                        <label for="" class="text-sm">Username:</label>
                        <input type="text" name="username"
                            class="w-full py-1 px-2 rounded border-2 border-slate-200 outline-none">
                    </div>
                    <div class="mb-3">
                        <label for="" class="text-sm">Email:</label>
                        <input type="text" name="email"
                            class="w-full py-1 px-2 rounded border-2 border-slate-200 outline-none">
                    </div>
                    <div class="mb-6">
                        <label for="" class="text-sm">Password:</label>
                        <input type="password" name="password"
                            class="w-full py-1 px-2 rounded border-2 border-slate-200 outline-none">
                    </div>
                    <div class="mb-3">
                        <button class="w-full py-1 px-4 rounded bg-teal-500 text-white">Register</button>
                    </div>
                    <div class="">
                        <p>Already have an account? <a href="/login" class="text-sky-700 underline">Login here?</a>
                        </p>
                    </div>
                </form>
            </div>
        </section>

        <script>
            const errorMsgP = document.getElementById("error-msg")
            const form = document.getElementById("form")

            form.onsubmit = (e) => {
                e.preventDefault()
                errorMsgP.innerText = ""

                fetch(`/api/auth/register`, {
                    method: "POST",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify({
                        username: e.target.username.value,
                        email: e.target.email.value,
                        password: e.target.password.value
                    })
                }).then(res => res.json()).then(data => {
                    if (data.message) {
                        errorMsgP.innerText = data.message
                    }
                    else {
                        localStorage.setItem("SDP_user", JSON.stringify(data))
                        data ? window.location.href = "/" : console.log(data)
                    }
                }).catch(error => {
                    errorMsgP.innerText = error.message
                })
            }

        </script>

    </main>


    <%- include('./partials/footer.ejs'); %>